
	<!-- <div class="blurryboy"></div> -->
	<div id="main-wrapper">
    <!-- navigation -->
    <app-navbar></app-navbar>
	  
	  <!-- /navigation -->
	  <!-- noscript message -->
	  <noscript>
		<div class="row">
		  <div class="col">
			<div class="alert alert-purp pulse text-center text-light" role="alert" style="margin-top:8rem;">
				Please enable Javascript to play Fomo3D</div>
		  </div>
		</div>
	  </noscript>
	  <!-- /noscript -->
	  <app-modal></app-modal>
	  </div>
	  <!-- /modal vanity -->
	  <!-- 
	  <div id="quotes" class="topbar fixed-top text-light bg-dark jumboshade" style="z-index:99;">
		<div class="container">
		  <div class="row">
			<div class="col-auto">
			  <i class="fas fa-stopwatch"></i> <span class="boxtimer lead small">00:00:00</span>
			</div>
			<div class="col-auto yourkeys">
			  <i class="fas fa-key"></i> <span class="lead small">0000</span>
			</div>
			<div class="col col-2 yourrank">
			  <i class="fas fa-list-ol"></i> <span></span>
			</div>
			<div class="col afflink" if={$this.isCEO}>
			  <i class="fas fa-link"></i> <span class="lead small"></span>
			</div>
			<div class="col text-right">
			  <span class="lead small qTarget">Loading Memes</span>  
			</div>
		  </div>
		</div> -->
		<div id="spacer" class="spacer"></div>
		<!-- /main content -->
    <app-template></app-template>
			

