<!-- modal loading -->
<!-- toggle with jQuery('#loading').modal({backdrop: 'static', keyboard: false})
	  this makes it impossible to close modal by clicking outside the box -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999999;">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content bg-dark text-light">
			<div class="modal-body" style="padding-top:1.5rem; padding-bottom:1.5rem;">
				<div class="row justify-content-between">
					<div class="col-auto">
						Metamask extension is not installed...
					</div>
					<div class="col-2">
						<div class="miniloader"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="loading2" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 99999999;">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content bg-dark text-light">
			<div class="modal-body" style="padding-top:1.5rem; padding-bottom:1.5rem;">
				<div class="row justify-content-between">
					<div class="col-auto">
						Please log in to Metamask...
					</div>
					<div class="col-2">
						<div class="miniloader"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /modal loading -->
<!-- modal vanity -->
<div class="modal fade" id="vanity" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content bg-dark text-light">
			<div class="modal-body" style="padding-top:1.5rem; padding-bottom:1.5rem;">
				<!-- Name chooser -->
				<div class="row">
					<div class="col">
						<p class="lead nomarginb">Graffiti your name on the Blockchain</p>
					</div>
					<div class="col-auto">
						<p class="text-right nomarginb">
							<a href="#" class="closemodal">
								<i class="fas fa-times"></i>
							</a>
						</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<button class="btn btn-outline-yel" type="button" id="randomName">
											Random
										</button>
									</div>
									<input class="form-control text-center" type="text" placeholder="type here" id="nameInput">
								</div>
							</div>
						</div>
						<p class="small">
							<br> Names must follow these rules:
							<br> -Must be unique
							<i>[
								<a style="color:#00c9ed" href="https://fomo3d.eu/">database of unique names</a>]</i>
							<br> -32 Characters or Less
							<br> -A-Z (lowercase)
							<br> -Name cannot be
							<i>just</i> numbers, but numbers are allowed
							<br> -No special characters
							<br> -No more than one space between characters
							<br>
							<br> If the transaction fails, one of these criteria was not met properly.
							<br>
							<br> Names are yours permanently (for vanity URLS). But only your most recent name will show up on the leaderboard/game
							UI. You can own as many names as you'd like.
							<br>
							<br> Make it good.

						</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button class="btn btn-purp btn-block btn-lg" id="namePurchase">
							<i class="fab fa-ethereum">

							</i> Purchase for 0.01 ETH</button>
						<p style="font-size:0.7rem;color:#afafaf">
							The fee is distributed across community members who made this game possible.</p>
					</div>
				</div>
				<!-- /Name chooser -->
			</div>
		</div>
	</div>
	<div class="modal fade" id="gameover" tabindex="-1" role="dialog" aria-labelledby="gameoverTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content bg-dark text-light">
				<div class="modal-header">
					<h5 class="modal-title" id="gameoverTitle">Modal Title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body"> Modal Content

				</div>
			</div>
		</div>
	</div>